.route {
  font-size: 75%;
  display: inline-block;
  padding-right: 10px;
  text-align: left;
}

 .dest {
  max-width: 150px;
  overflow: hidden;
  padding-right: 10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.route:before {
  font-size: 125%;
  font-family: 'FontAwesome';
}
.bus:before {
  content: '\f207';
}

.tube:before {
  content: '\f239';
}

.timeTabled {
  text-align: right;
}
.late {
  color: #ff0000;
}

.busStopName {
  color: #999;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: left;
}
